@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
body {
  height: 100vh;
  background: #0b0f0f;
  display: grid;
  color: rgba(206, 219, 213, 0.342);
  font-family: 'Rubik Dirt', cursive;
  align-items: center;
}
.App {
  font-family: sans-serif;
  display: flex;
  gap: 0.5rem;
  place-content: center;
}
input {
  width: 1rem;
  height: 2rem;
  outline: none;
  border: none;
  background: #192222;
  color: rgb(129, 129, 129);
  font-size: larger;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
